src/main/mule/posts-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="posts-system-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="posts-system-api-config" api="resource::5c672286-2d7d-4c65-9b00-af2a7049625b:posts-system-api:1.0.1:raml:zip:posts-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="posts-system-api-main">
        <http:listener config-ref="posts-system-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="posts-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="posts-system-api-console">
        <http:listener config-ref="posts-system-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="posts-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\posts\(post_id)\comments:posts-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="post_id">attributes.uriParams.'post_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="GET" doc:name="get-post-comments-by-id" doc:id="a87e3b7c-8937-4eab-910a-96edf778a846" config-ref="post-api-request-configuration" path="${post_api.postCommentsPath}">
			<error-mapping sourceType="HTTP:NOT_FOUND" targetType="CONFLICT:USER_NOT_FOUND" />
			<http:uri-params><![CDATA[#[{
	post_id: attributes.uriParams.post_id
}]]]></http:uri-params>
		</http:request>
    </flow>
    <flow name="get:\posts\(post_id):posts-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="post_id">attributes.uriParams.'post_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="GET" doc:name="get-post-by-id" doc:id="74fd0e8d-35ba-44ed-88e2-a821978f57d3" config-ref="post-api-request-configuration" path="${post_api.postPath}">
			<error-mapping sourceType="HTTP:NOT_FOUND" targetType="CONFLICT:USER_NOT_FOUND" />
			<http:uri-params><![CDATA[#[{
	post_id: attributes.uriParams.post_id
}]]]></http:uri-params>
		</http:request>
    </flow>
    <flow name="post:\posts\(post_id)\comments:application\json:posts-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="post_id">attributes.uriParams.'post_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<http:request method="POST" doc:name="add-post-comments-by-id" doc:id="4a55dd69-a51d-4ccd-9067-7edf02773150" config-ref="post-api-request-configuration" path="${post_api.postCommentsPath}" >
			<error-mapping sourceType="HTTP:NOT_FOUND" targetType="CONFLICT:USER_NOT_FOUND" />
			<http:uri-params ><![CDATA[#[{
	post_id: attributes.uriParams.post_id
}]]]></http:uri-params>
		</http:request>
    </flow>
    <flow name="post:\posts:application\json:posts-system-api-config">
		<http:request method="POST" doc:name="add-post" doc:id="7b2092c8-40c9-4159-b130-82607bbeb3c5" config-ref="post-api-request-configuration" path="${post_api.postsPath}" >
			<error-mapping sourceType="HTTP:NOT_FOUND" targetType="CONFLICT:USER_NOT_FOUND" />
			<http:uri-params ><![CDATA[#[{}]]]></http:uri-params>
		</http:request>
    </flow>
</mule>
